*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #fff;    
}
#aalborgairpic{
    height: auto;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.topnav{
    overflow: hidden;
    background-color: white;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #f18053;
    color: white;
  }
  .topnav a.active {
    background-color: #f18053;
    color: white;
  }
  .topnav input[type = text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
.aalborgair{
    position: relative;
    display: inline-block;
}
.aalborgair .aalborgairparag{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
}
.wrapper{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    width: 800px;
}
.wrapper .qrcode_{
    width: 30%;
    background: #f;
    padding: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}
.wrapper .qrcode img{
    display: block;
    width: 115px;   
}
#qrcodeid{
    color: #fff;
}
.wrapper .content{
    width: 70%;
    background: #fff;
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wrapper .content .location{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.wrapper .content .location h1{
    margin-bottom: 5px;
    color: ;
}
.wrapper .content .location p,
.wrapper .content .info p{
    font-size: 10px;
    color: #cecace;
    font: bold;
}
.wrapper .content .location .fas{
    font-size: 32px;
    color: #f18053;
}
.wrapper .content .info{
    display: flex;
    justify-content: space-between;
}
.wrapper .content .info h4{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;

}
.wrapper .qrcode_::before,
.wrapper .qrcode_::after{
    content: "";
    position: absolute;
    right: -25px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
}
.wrapper .qrcode_::before{
    top: -30px;
}
.wrapper .qrcode_::after{
    bottom: -30px;
}
.button{
    position: fixed;
}