<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_Flight_ControllerServiceIF" />
                <binding name="WSHttpBinding_ReservationServiceIF" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/AirlineReservations.Control_Layer/FlightController"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Flight_ControllerServiceIF"
                contract="ServiceReference1.Flight_ControllerServiceIF" name="WSHttpBinding_Flight_ControllerServiceIF">
                <identity>
                    <userPrincipalName value="DESKTOP-L6PNEHL\densygeko" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/AirlineReservations.Control_Layer/ReservationController"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ReservationServiceIF"
                contract="ServiceReference2.ReservationServiceIF" name="WSHttpBinding_ReservationServiceIF">
                <identity>
                    <userPrincipalName value="DESKTOP-L6PNEHL\densygeko" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>