<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Flight_ControllerServiceIF">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ReservationServiceIF">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/AirlineReservations.Control_Layer/FlightController"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Flight_ControllerServiceIF"
                contract="ServiceReference1.Flight_ControllerServiceIF" name="BasicHttpBinding_Flight_ControllerServiceIF" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/AirlineReservations.Control_Layer/ReservationController"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ReservationServiceIF"
                contract="ServiceReference2.ReservationServiceIF" name="BasicHttpBinding_ReservationServiceIF" />
        </client>
    </system.serviceModel>
</configuration>