@page
@model webgu.showflightsModel
@{
    ViewData["Title"] = "showflights";
}

<div class="contaier">
    <div class="tbl">
        <table>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>DepartureTime</th>
                <th>ArrivalTime</th>
            </tr>
            <tr>
                <th class="filltable"></th>
                <th class="filltable"></th>
                <th class="filltable"></th>
                <th class="filltable"></th>
            </tr>
        </table>
    </div>
</div>

